
.task-details-container  {
    width: 100%;
    text-align: center;
}


.task-details-container h1 {
    font-size: 2.5em;

}

.under-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 1.5em;
}

.task-details-priority {
    margin: 0px 30px;
}


.task-details-task {
    font-size: 2.5em;
    padding: 0px 200px;
    text-align: left;
}