{% extends "base.html" %}
{% load static  %}


{% block page_title %} Complished Tasks {% endblock %}
{% block page_style %}
<link rel="stylesheet" href="{% static "taskyapp/style.css" %}">
<link rel="stylesheet" href="{% static "taskyapp/nav.css" %}">

{% endblock %}


{% block page_content %}

    {% include 'taskyapp/includes/nav.html' %}

    <div class='major-container' >

    
        <div class='main-container' >
            <h1>all Complished Tasks</h1>
            {% for task in data %}


                <div class='task-record' >
                    <p class='task-index-number' >{{ task.pk }} . </p>

                    <p class='task-title' >
                        <a href="{% url "complished-details"  task.pk %}">{{ task.title }}</a>
                    </p>

                    <p class='task-stars' > |⭐ {{ task.priority }} | </p>

                </div>


            {% endfor %}


        </div>




    </div>
    
{% endblock %}



